PocketSpace__Storage__Provider=FileSystem
PocketSpace__Storage__FileSystemPath=
PocketSpace__Storage__S3__Bucket=
PocketSpace__Storage__S3__Region=us-east-1
PocketSpace__Storage__S3__AccessKey=
PocketSpace__Storage__S3__SecretKey=
